Flask==[version]
Flask-SQLAlchemy==[version]
Flask-Login==[version]
Flask-Bcrypt==[version]
paypalrestsdk==[version]
opencv-python==[version]
transformers==[version]
numpy==[version]
Pillow==[version]
